.post-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.post-row {
    width: 60%;
    margin: 0 auto;
}

.post-content-expand {
    font-size: 1.25em;
    line-height: 1.8em;
}

.post-expand {
    padding: 40px 45px 100vh 45px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.06);
    margin-bottom: 0px;
    border-bottom: 1px solid #EEE;
}

.post-title-expand {
    font-size: 1.9em;
    margin: -10px -20px -5px;
    padding: 20px 25px;
    font-weight: bold;

    text-decoration: underline;
    text-decoration-style: dotted;
    color: lightgray;
    text-underline-offset: 5px;
}

.post-title-expand a {
    color: lightgray;
}

.post-title-expand a:hover {
    color: lightgray;
    text-decoration: none; 
    cursor: pointer;
}

.post-title-expand span {
    color:#444;
}